* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* ==============Generalized Page Classes=========== */
body {
  margin-top: 20px;
  margin-left: 30px;
  min-width: 400px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
}

.title h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  padding: 0;
}

.title-logo {
  max-width: 40px;
  padding-bottom: 15px;
}

.hcenter{
  width:60%;
  margin: 0 20%;
}

.fullcenter{
  width:60%;
  margin: 10% 20%;
  height: 80%
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
  clear: left;
}
.clear{
  clear: both;
}
.text-center{
  text-align: center;
}
/*++++++++++++++InputandEditForms++++++++++++*/
.content-textarea{
  width: 100%;
  height: 10rem;
}
/*++++++++++++++Navigation+++++++++++++++++*/
.nav{
 padding: 1rem 2rem;
}
.nav-center{
  padding-top: 11px;
  font-weight: 700;
}

.nav_img{
  height: 40px;
  width: 40px;
  /* background-color: black; */
}

.register-button {
  color: blue;
  cursor: pointer;
}

/*+++++++++++++++++++++++++++WALL O QUESTIONS++++++++++++++++++++++++++++++++++++*/
.ask-button, .verify-button, .edit-question-button, .edit-answer-button {
  font-weight: 700;
  background-color: black;
  opacity: 0.8;
  margin-right: 15px;
}

.ask-button:hover, .verify-button:hover {
  background-color: black;
  opacity: 1;
  color: white;
}

.question-preview-img {
  /* height: 3rem; */
  width: 30vw;
  max-height: 20rem;
  /* object-fit: scale-down; */
  object-fit: cover;
  object-position: 50% 50%;
  
}
.questionsAll{
  max-width: 80%;
  margin: 0 auto;
}
.question-each{
  padding-top:.5rem;
  padding-right: 1rem;
  margin: 1rem 0;
}
.question-title{
  margin:0 0 0 1rem;
  font-weight: 800;
  text-align: left;
}
.question-info{
  padding-right: .5rem;
  margin:.2rem 0 0.5rem 1rem;
  font-size: 0.7rem;
}
.question-content{
  /* text-indent: .5rem; */
  text-align: left;
  font-size: .8rem;
  margin: 1rem 0 0 1rem;
}

/*+++++++++++++++++++++++++++INDIVIDUAL QUESTION ANSWER DISPLAYS++++++++++++++++++++++++++++++++++++*/

.question-image {
  margin: 15px 0 50px 0;
}
.question-data{
  position: relative;
}
.question-title-header {
  text-align: left;
  font-size: 1.5rem;
}
.question-subtitle {
  font-size: .95rem;
}

.edit-question-button-user {
  position: absolute;
  bottom: 0;
  left: 1.2rem;
}

.verified{
  width: 80%;
  margin: .5rem 10%;
  text-align: center;
  border-radius: .5rem;
  padding: .5rem 0;
}

.login-prompt {
  width: 30%;
  margin: 0 auto;
}

.answer-title-header {
  text-align: left;
  font-size: 1.1rem;
}

.question-info-main {
  font-size: 0.7rem;
}

.answer-info-main {
  font-size: 0.9rem;
}

.question-content-main, .answer-contenet-main {
  font-size: .9rem;
}


/*====================== markup just for studying================================*/
.red{
  border: red solid 2px;
  /* background-color: rgba(255, 0, 0, 0.219); */
}
.yellow{
  border: yellow solid 2px;
  /* background-color: rgba(255, 238, 0, 0.205); */
}
.green{
  border: rgb(33, 194, 47) solid 2px;
  background-color: rgba(21, 255, 0, 0.233);
}
.blue{
  border: rgb(0, 89, 255) solid 2px;
  background-color: rgba(0, 110, 255, 0.205);
}
.purple{
  border: rgb(225, 0, 255) solid 2px;
  background-color: rgba(255, 0, 255, 0.205);
}
/*===========================OTHER CSS============================== */

@media screen and (max-width: 704px) {
  .title {
    font-size: 40px;
  }
  .title-logo {
    max-width: 40px;
    padding-bottom: 15px;
  }
}